body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: url('svgs/background.svg') #edeff0;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  }
  a:hover {
    color: #111;
  }

.icon {
    fill: #39add1;
    width: 13px;
}

header {
  padding-top: 10px;
}
  header nav {
    padding-bottom: 50px;
    text-align: left;
  }
  header nav ul li {
    display: inline-block;
    margin-right: 20px;
  }

  header nav ul li a img {
    height: 13px;
  }

  header h1 {
    line-height: 1em;
  }

main {
  padding-top: 50px;
}
  main h2 {
  font-size: 28px;
}
  main ul {
    padding: 0;
  }
    main li {
      display: inline-block;
      color: #ba8058;
      margin-right: 20px;
    }
      main li img {
        margin-bottom: 15px;
      }
      main li span {
        margin-left: -40px;
      }
      main li:last-child {
        margin-right: 0;
      }

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

.logo {
    height: 120px;
    width: 140px;
}

.dogs {
    height: 170px;
    width: 170px;
}

.face {
    fill: #2D3339;
}

.white-face {
    fill: #FBFEFF;
}

.light-eyebrows {
    fill: #EAAA7F;
}

.dark-eyebrows {
    fill: #BA8058;
}

.red-coat {
    fill: #d63b3b;
}

.fawn-coat {
    fill: #FFDCC4;
}

.sable-coat {
    fill: #635043;
}

.blacktan-coat {
    fill: #171717;
}

nav li:hover {
    fill: #EAAA7F;
    color: #EAAA7F;
}

nav a:hover {
    color: #eaaa7f;
}

nav a:hover .icon {
    fill: #eaaa7f;
}

nav a,
.icon {
    transition: .4s ease-in-out;
}

.logo-text {
    display: none;
}

@media (max-width: 424px) {
    .logo .st1 {
        display: none;
    }
    
    .logo-text {
        color: #eaaa7f;
        margin: 0 auto;
        display: block;
        font-size: 2em;
        text-transform: uppercase;
    }
}